# Build files
bin/
obj/
*.exe
*.dll
*.pdb

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio specific
.vscode/
.vs/
*.csproj.user

# Resharper files
*.DotSettings.user

# Log files
*.log

# NuGet packages
packages/
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/

# Temporary files
*.tmp
*.temp
*.cache
*.old
*.bak

# Debug and Release folders
Debug/
Release/

# Publish files
.publish/

# OS-specific files
.DS_Store
Thumbs.db
